<p-button class="inp cart" severity="info" (click)="routTo('')">მთავარი გვერდი</p-button>
<div *ngIf="bookList; else elseTemplate" class="book-list">
    <!-- <p-button label="Check" (click)="save()"/> -->
    <div class="main-view-header">

        <h4>
            <span class="inp val hs">
                <svg>
                    <use xlink:href="assets/svgs/icons.svg#list"></use>
                </svg>
            </span>
            წიგნების ჩამონათვალი
        </h4>

        <div>
            <label id="cutomer-label" for="customer">შეიყვანეთ თქვენი სახელი და გვარი</label>
            <input id="customer" type="text" [(ngModel)]="customer">
        </div>
        <!-- {{customer}} -->
        <!-- სანამ სახელს არ შეიყვან არ გამოჩნდება დამატების ღილაკი კალათში -->
        <p-button class="inp cart" icon="pi pi-shopping-cart"
            [label]="'ჩემი კალათა / შეკვეთები (' + orderdBooksArray.length + ')'" (click)="displayCart()" />
    </div>

    <ul>
        <li *ngFor="let eachBook of booksArray">
            <app-book [book]="eachBook" [customer]="customer" (handleCart)="handleCart($event)"></app-book>
        </li>
    </ul>
</div>

<ng-template #elseTemplate>

    <div class="order-header">
        <h4>
            <span class="inp val hs w">
                <i class="pi pi-shopping-cart"></i>
            </span>
            ჩემი კალათა / შეკვეთები ( {{orderdBooksArray.length}} )
        </h4>
    </div>

    <div class="order-table">
        <p-table [value]="orderdBooksArray" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template #header>
                <tr>
                    <th>დასახელება</th>
                    <th>რაოდენობა</th>
                    <th>ავტორი</th>
                    <th>ერთ. ფასი</th>
                </tr>
            </ng-template>
            <ng-template #body let-product>
                <tr>
                    <td>{{ product.book_name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.author }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div>
        <div class="total-main">
            <p class="total"> <span class="inp txt">ჯამი: </span> <span class="inp prc"
                    title="Georgian Lari">{{orderTotal}}</span> <span class="inp val">₾</span></p>
            <div class="table-btns">
                <p-button class="p2button" label="დადასტურება" icon="pi pi-check" severity="info" (click)="buy()" />
                <p-button class="p2button" label="გაუქმება" icon="pi pi-times" severity="danger"
                    (click)="closeModal()" />
            </div>
        </div>
    </div>
</ng-template>