<div class="eachProduct">

    <div>
        
        <img src="assets/pictures/default-book.png"/>
    </div>
    <div class="book-about">

        <div class="book-info">

            <h5><b>დასახელება:</b> {{book.book_name}}</h5>
            <h5><b>ავტორი: </b> {{book.author}}</h5>
            <h5><b>რაოდენობა:</b> {{book.quantity}}</h5>
            <h5><b>ფასი:</b> {{book.price}} ₾</h5>
        </div>
            
        <div class="inputs">

            <button [class]="quantityNumber <= 0 ? 'notactive' : '' " (click)="minusOne()">-</button>
            <input  type="number" [value]="quantityNumber">
            <button [class]="quantityNumber === book.quantity ? 'notactive' : '' " (click)="plusOne()">+</button>
        </div>

        <button *ngIf="quantityNumber > 0 && customer" id="addToCart" (click)="addToCart(quantityNumber)">დაამატე კალათაში</button>
    </div>
</div>