@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mark GEO CAPS";
}
body{
    background-color: #E4ECF9;
}
.eachUserOrders {
    width: 28rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(66, 159, 253, 0.15);
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.81rem;
    padding-right: 1.25rem;
    font-size: 0.75rem;
    color: #2869CA;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.5rem;
}


.displayUserAllOrders>svg {
    rotate: 180deg;
}

svg {
    width: 0.34688rem;
    height: 0.5625rem;
}

.p1button>button {
    padding: 1rem 1.63rem;
    color: #2869CA;
    border: none;
    font-weight: bolder;
    border-radius: 0.625rem;
    background: #B7D4FF;
}

.table-btns>.p2button>button {
    width: 12.875rem;
    height: 2.8125rem;
    margin-right: 0.62rem;
}

.p1button>.p-button>.p-button-label {
    font-weight: bold;
}

.addbookbtn>button {
    background-color: #2869CA;
    color: white;
}

.inp >.p-button,
.inp {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
    height: 2.8125rem;
    /* margin-right: 0.5rem; */
    border: none;
}

.val>.p-button,
.val {
    width: 2.8125rem;
    background: #B3D4FF;
    color: #2869CA;
    font-size: 1.375rem;
}

.price-inp {
    display: flex;
}

.p-dialog>div>div {
    overflow: hidden;
}

.p-dialog-content>form>.inp-parent>.inp-container>input {
    width: 23.75rem;
    height: 2.8125rem;
    border-radius: 0.625rem;
    border: 1px solid #B3D4FF;
}

.p-resizable-handle {
    display: none;
}

.p-dialog-content {
    width: 44.2rem;
    margin-bottom: 4.06rem;
    margin-left: 3.19rem;
    margin-right: 5.94rem;
    /* border: 1px solid red; */
    /* height: 0; */
}

.book-table-parent, 
.order-table{
    background-color: white;
    padding-right: 15rem;
    padding-left: 15rem;
}

.p-table-books > .p-datatable {
    background-color: white;
    /* border: 2px solid red; */
    min-width: 88.81rem;
}

.hs{
    background-color: #2869CA;
    margin-right: 1.25rem;
}

.hs > svg{
    width: 1.125rem;
    height: 1.30781rem;
    color: white;
}

h4{
    display: flex;
    /* justify-content: center; */
    padding-left: 15rem;
    align-items: center;
    margin-bottom: 1.88rem;
}

.cart > .p-button {
    background-color: #2869CA;
    width: 25rem;
}

.cart > .p-button:hover{
    background-color: #2869ca77;
}

.total{
    display: flex;
    width: 16.5rem;
    justify-content: space-between;
    margin-right: 3rem;
}

.total-main{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: #429FFD;
}

.prc{
    width: 8.75rem;
    height: 2.8125rem;
    background-color: white;
    border: 1px solid #BBFFC9;
}