@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mark GEO CAPS";
}

.eachUserOrders {
    width: 28rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(66, 159, 253, 0.15);
    padding-left: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.81rem;
    padding-right: 1.25rem;
    font-size: 0.75rem;
    color: #2869CA;
    font-weight: 400;
    cursor: pointer;
    margin-top: 0.5rem;
}


.displayUserAllOrders>svg {
    rotate: 180deg;
}

svg {
    width: 0.34688rem;
    height: 0.5625rem;
}